.window {
  width: 600px;
  height: 600px;
  position: absolute;
  left: calc(var(--x) * 1%);
  top: calc(var(--y) * 1%);
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  //   border: 1px solid red;
  background: #000000;

  .top-bar {
    cursor: default;
    width: 100%;
    height: 30px;
    background: #171717;
    display: flex;
    justify-content: space-between;
    color: #fff;
    user-select: none;
    .left {
      cursor: default;
      width: fit-content;
      padding: 0px 10px 0px 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        cursor: default;
        font-size: 14px;
        font-weight: 300;
        font-family: 'Segoe UI', 'Segoe UI Variable', system-ui, -apple-system, BlinkMacSystemFont;
      }
    }
    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
      padding: 0px 0px 0px 10px;
      .windowManipulation {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 20px;
        // border: 1px solid red;
        height: 100%;
        font-size: 10px;

        &:hover {
          background-color: rgba(229, 241, 251, 0.05);
        }
      }
      .close {
        &:hover {
          background-color: rgba(237, 17, 35);
        }
      }
    }
  }
  .resize {
    position: absolute;
  }

  .top {
    top: -4px;
    left: 0;
    right: 0;
    height: 8px;
    cursor: ns-resize;
  }
  .bottom {
    bottom: -4px;
    left: 0;
    right: 0;
    height: 8px;
    cursor: ns-resize;
  }
  .left {
    left: -4px;
    top: 0;
    bottom: 0;
    width: 8px;
    cursor: ew-resize;
  }
  .right {
    right: -4px;
    top: 0;
    bottom: 0;
    width: 8px;
    cursor: ew-resize;
  }

  /* corners */
  .tl {
    top: -4px;
    left: -4px;
    width: 8px;
    height: 8px;
    cursor: nwse-resize;
  }
  .tr {
    top: -4px;
    right: -4px;
    width: 8px;
    height: 8px;
    cursor: nesw-resize;
  }
  .bl {
    bottom: -4px;
    left: -4px;
    width: 8px;
    height: 8px;
    cursor: nesw-resize;
  }
  .br {
    bottom: -4px;
    right: -4px;
    width: 8px;
    height: 8px;
    cursor: nwse-resize;
  }
}
